@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Libre+Franklin&family=Neucha&display=swap');

body {
  margin: 0;

  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3a3a3a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* header */
.header {
  margin: 10px 10px 10px 10px;
  font-family: 'Jost', sans-serif;
  font-size: 20px;
  background-color: teal;
  height: 80px;
  color: rgb(255, 255, 255);
  align-items: center;
  font-weight: 600;
  justify-content: center;
  display: flex;
  /* width: 400px; */
  border-radius: 4px;

  /* margin-top: 50px; */



}

/* @media only screen and (max-width: 576px) {
  .header {
    width: 300px;
  }
} */


/* @media only screen and (max-width: 600px) {
  .header {
    width: auto;
  }
} */

/* main-screen */

.main-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 100vh;
}



/* sec-module */
.sec-module {
  /* background-image: url("../public/todo-back-img.avif"); */
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;

  height: auto;
  justify-content: center;
  width: 400px;
  /* min-height: 500px; */
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(188, 188, 189, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  margin: 40px 20px 40px 20px;
}


/* @media only screen and (max-width: 576px) {
  .sec-module {
    width: 350px;
  }
} */

/* content-sec */
.content-sec {
  color: aliceblue;
  height: auto;
  margin: 10px 10px 10px 10px;


}

ul {
  padding: 0%;
  margin: 0px;
  /* width: 400px; */

}

/* @media only screen and (max-width: 600px) {
  ul {
    width: 300px;
  }
} */

.list-items {

  border-radius: 5px;
  background-color: darkgray;
  margin-bottom: 20px;
  list-style: none;
  display: flex;
  justify-content: space-between;


}

.list-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-content input {
  cursor: pointer;

  margin-left: 10px;
  width: 40px;
  height: 20px;
}

.list-content p {
  color: black;
  font-size: 25px;
  margin: 10px;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
}

.delete-sec {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete {
  cursor: pointer;

  color: rgb(0, 0, 0);
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

/* fotter */
.fotter {

  margin: 10px 10px 10px 10px;
  font-family: 'Jost', sans-serif;
  border-radius: 4px;
  display: grid;
  justify-content: center;
  text-align: center;
  height: 80px;
  background-color: teal;
  color: rgb(255, 255, 255);
}

.fotter h2 {
  font-size: 30px;
  margin: auto;
}

/* :empty */
.empty {
  font-family: 'Jost', sans-serif;

  text-align: center;
  font-size: 25px;
  color: black;
}

/* .addbutton */
.addbutton {
  background-color: teal;
  color: white;
  width: 60px;
  height: 60px;
  border: 0;
  border-radius: 4px;
}

.addbutton-img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 10%;
  transition: 0.9s;


}

.addbutton-img:hover {
  transform: scale(1.1);
}

.add_form {
  margin: 10px 10px 10px 10px;
  background-color: teal;
  color: white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add_form input {
  padding-left: 6px;
  font-size: 17px;
  height: 30px;
  width: 100%;
  margin-right: 20px;
  margin-left: 10px;
  border: none;
  border-radius: 2px;
  border-bottom: 1px solid white;
  background-color: rgb(255, 255, 255);
  outline: none;
}